@model IEnumerable<Core.Models.RoleViewModel>
@{
    ViewData["Title"] = "Manage Roles";
}


<div class="row mt-3">
    <div class="col-md-12">
        @if (ViewBag.FilterOption != null)
        {
            foreach (var Ctr in ViewBag.FilterOption)
            {
                <a id="FilterOptions_@Ctr" class="btn btn-outline-info btn-sm"
                   href="/Admin/RoleGroupList?filterOption=@Ctr" data-modal-filter-option="">@Ctr</a>
            }
        }
    </div>
</div>
<p>
    Role Name:
    <select id="ParentRoleId" name="ParentRoleId" asp-items="ViewBag.RoleName" class="form-select">
        <option value="">Select Role</option>
    </select>
</p>
<hr />
<div class="row mt-4">

    <div class="col-sm-6">
        <h4>
            Manage Role Groups
           
        </h4>
        <div id="replacetarget">
        </div>
    </div>
    <div class="col-sm-6">

        <div id="replacetarget2">
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        $('#replacetarget').load('/Admin/RoleGroupList?id=' + $("#ParentRoleId").val() + '&filterOption=All');
    };
    $(document).on("change", "#ParentRoleId", function (e) {
        $('#replacetarget').load('/Admin/RoleGroupList?id=' + $(this).val()+'&filterOption=All');
        return false;
    });
    $(document).on("click", "a[data-modal-filter-option]", function (e) {
        $('#replacetarget').load(this.href);
        return false;
    });
</script>
